.button {
    -fx-font: 12pt 'Bitstream Vera Sans';
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-text-fill: #FFE6D9;
    -fx-background-color: #B63110;
    -fx-stroke: #000000;
    -fx-stroke-width: 2.0;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}
